.DS_Store
*.jld
*.nc
nohup.out
progress.txt
parameter.txt
src/old_outputs/error_advection_coriolis_only6.txt
src/old_outputs/error_advection_coriolis_only9.txt
src/old_outputs/error_advection_coriolis_only_withPVfunction.txt
src/old_outputs/error_advection_coriolis_withoutautodiff.txt
src/old_outputs/error_debugcode3.txt
src/old_outputs/error_debugcode4_enzymemain.txt
src/old_outputs/error_debugcode5_enzyme0116.txt
src/old_outputs/error_enzyme_folks_withPVfunction.txt
src/old_outputs/error_output.txt
src/old_outputs/error_output2.txt
src/old_outputs/error_output_debugcode.txt
src/old_outputs/error_output_debugcode2.txt
src/old_outputs/error_withPVfunction_minimizing.txt
src/old_outputs/error_withPVfunction_minimizing2.txt
src/old_outputs/error_withPVfunction_minimizing3.txt
src/old_outputs/for_enzyme_error.txt
src/old_outputs/for_enzyme_error_check.txt
src/old_outputs/for_enzyme_error_woutautodiff.txt
src/old_outputs/for_enzyme_error_woutPVcall.txt
src/old_outputs/ghost_points_only_output.txt
src/old_outputs/ghost_points_only_output2.txt
src/old_outputs/ghost_points_only_output3.txt
src/old_outputs/integrate_to_urhs.txt
src/old_outputs/minimizing_error.txt
src/old_outputs/minimizing_error1.txt
src/old_scripts/advection_coriolis_only.jl
src/old_scripts/advection_coriolis_withPV.txt
src/old_scripts/advection_coriolis_withPVwrittenout.txt
src/old_scripts/debugging_process_090623.jl
src/old_scripts/first_error_found.jl
src/old_scripts/for_debugging.jl
src/old_scripts/for_enzymefolks.jl
src/old_scripts/integrate_to_advectioncoriolis.txt
*.txt
old_scripts/first_error_found.jl
old_scripts/for_debugging.jl
old_scripts/for_enzymefolks.jl
old_scripts/ghost_points_only.jl
old_scripts/debugging_process_090623.jl
old_scripts/advection_coriolis_only.jl
data_files/spinup_states_1024_10years.jld2
*.jld2
figs/etasnapshot.png
figs/for_student_pres.png
figs/usnapshot.png
figs/vsnapshot.png
*.gif
my_scripts/for_meeting.png
my_scripts/wrong_energy.png
*.png
my_scripts/plotting.jl
my_scripts/compute_energy_spectra.jl
my_scripts/compute_energy_spectra.jl
my_scripts/compute_energy_spectra.jl
*.ipynb
