.DS_Store
*.jld
*.nc
nohup.out
progress.txt
parameter.txt
*.txt
*.jld2
figs/etasnapshot.png
figs/for_student_pres.png
figs/usnapshot.png
figs/vsnapshot.png
*.gif
my_scripts/for_meeting.png
my_scripts/wrong_energy.png
*.png
*.ipynb
Manifest.toml
